@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wapp {
  background-color: green;
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5%;
  position: fixed;
  top: 420px;
  left: 1080px; }

.nu {
  background-color: none;
  display: inline;
  text-align: center;
  font-size: 22px; }

header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin: 5px;
  flex-direction: row; }
  header:hover {
    color: #e186f8;
    font-weight: bold; }
  header a {
    color: #3a0237;
    font-family: "Tenor Sans", sans-serif; }
  header h1 {
    font-family: "Tenor Sans", sans-serif;
    text-align: center;
    color: #580354;
    border: rgba(88, 3, 84, 0.295) 12px;
    padding: 13px 45px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(225, 134, 248, 0.548);
    margin-bottom: 5px;
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 25px;
    position: sticky;
    z-index: 2;
    width: justify;
    height: 100px; }
  header h2 {
    font-family: "Tenor Sans", sans-serif;
    color: #3e0077;
    border: #3a0237 4px solid;
    background-color: rgba(225, 134, 248, 0.507);
    margin-bottom: 35px;
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: none;
    text-align: center;
    width: justify;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; }
  header h3 {
    font-family: "Tenor Sans", sans-serif;
    background-color: rgba(250, 71, 241, 0.329);
    border: 12px;
    margin-left: 12px;
    width: 100%;
    height: 32px;
    overflow: center;
    text-align: center; }
  header h4 {
    font-family: "Tenor Sans", sans-serif; }
  header h5 {
    font-family: "Tenor Sans", sans-serif; }

.barra {
  top: 0%;
  position: sticky;
  z-index: 2; }

.barranav {
  top: 0px;
  position: sticky;
  z-index: 3;
  border: 2px solid;
  border-color: #3a0237;
  background-color: rgba(128, 128, 128, 0.397);
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 28px; }

footer:hover {
  color: #e186f8;
  font-weight: bold; }

footer .negrita {
  font-weight: 700; }

footer .footer {
  color: #530253;
  text-align: center;
  background-color: #d4d4d4;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3; }

footer .h5 .negritaV {
  color: purple; }

footer .negrita {
  font-weight: 700; }

p {
  line-height: 1.8;
  width: justify; }

a {
  text-decoration: none;
  color: #3a0237; }

main {
  background-color: rgba(161, 108, 172, 0.507); }

footer {
  color: #530253;
  text-align: center;
  background-color: #d4d4d4;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3; }

h1 {
  text-align: center;
  color: #580354;
  border: rgba(88, 3, 84, 0.295) 12px;
  padding: 13px 45px;
  margin: 5px 5px 5px 5px;
  background-color: rgba(225, 134, 248, 0.548);
  margin-bottom: 5px;
  margin-top: 25px;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 25px;
  position: sticky;
  z-index: 2;
  width: justify;
  height: 100px;
  font-family: 'Montserrat', sans-serif; }

h2 {
  color: #3e0077;
  border: #3a0237 4px solid;
  background-color: rgba(225, 134, 248, 0.507);
  margin-bottom: 35px;
  margin-top: 25px;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: none;
  text-align: center;
  width: justify;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

h3 {
  background-color: rgba(250, 71, 241, 0.329);
  border: 12px;
  margin-left: 12px;
  width: 100%;
  height: 32px;
  overflow: center;
  text-align: center; }

#primeraParte {
  background-image: url(https://pm1.narvii.com/6989/08eadd1…r1-720-1280v2_hq.jpg);
  background-image: url(https://i.pinimg.com/originals/77/56/f3/7756f3bcd7659f955f8bf1027a96b21a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#primeraParte {
  background-color: #a5a4a4;
  border: #5a015a 4px solid; }

.parrafoRgb {
  color: #510358;
  background-color: #a5a4a4;
  padding: 12px;
  display: inline-block; }

.parrafoGrande {
  font-size: 25px; }

.aei {
  display: flex;
  flex-direction: column;
  align-items: center; }

.centrado {
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 9px;
  background-image: url(https://th.bing.com/th/id/R.9743e74…?rik=srSyp6s9DaakEg&riu=http%3a%2f%2falfonsomartinjimenez.blogs.uva.es%2ffiles%2f2018%2f10%2ftexcal-liso_gris-t15.jpg&ehk=wDKAfnB%2fmyhK%2bNnfr6jRONFTMIXtd5y3H5TA6rgaQI4%3d&risl=&pid=ImgRaw&r=0); }

.negritaN {
  color: black; }

.negritaV {
  color: purple; }

.italica {
  font-style: italic; }

header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin: 5px;
  flex-direction: row; }

.header a:hover, footer a:hover {
  color: #e186f8;
  font-weight: bold; }

b {
  font-size: 32px;
  width: justify;
  text-align: center;
  border: #3a0237 5px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.5; }

ul {
  background-color: none;
  font-size: 28px;
  line-height: 1.5; }

ol {
  text-align: center; }

li {
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  display: inline-block;
  text-align: center;
  width: justify; }

section {
  text-align: center;
  width: 100%; }

main {
  background-color: rgba(161, 108, 172, 0.507); }

/* menu desplegable */
ul {
  list-style: none;
  font-size: 0; }

li {
  display: inline-block;
  width: 25%;
  position: relative;
  font-size: 15px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block; }

.barranav {
  top: 0px;
  position: sticky;
  z-index: 3;
  border: 2px solid;
  border-color: #3a0237;
  background-color: rgba(128, 128, 128, 0.397);
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 28px; }

a .centrado {
  display: flex;
  justify-content: center;
  border: solid;
  border-radius: 9px;
  background-image: url(https://th.bing.com/th/id/R.9743e74f858ff8859e46109c10f1e443?rik=srSyp6s9DaakEg&riu=http%3a%2f%2falfonsomartinjimenez.blogs.uva.es%2ffiles%2f2018%2f10%2ftexcal-liso_gris-t15.jpg&ehk=wDKAfnB%2fmyhK%2bNnfr6jRONFTMIXtd5y3H5TA6rgaQI4%3d&risl=&pid=ImgRaw&r=0); }

a .barra {
  top: 0%;
  position: sticky;
  z-index: 2; }

a .h1 {
  text-align: center;
  color: #580354;
  border: rgba(88, 3, 84, 0.295) 12px;
  padding: 13px 45px;
  margin: 5px 5px 5px 5px;
  background-color: rgba(225, 134, 248, 0.548);
  margin-bottom: 5px;
  margin-top: 25px;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 25px;
  position: sticky;
  z-index: 2;
  width: justify;
  height: 100px;
  font-family: 'Montserrat', sans-serif; }

a .a {
  text-decoration: none;
  color: #3a0237; }

div div div div h5 .negritaN {
  color: black; }

div section #primeraParte {
  background-image: url(https://pm1.narvii.com/6989/08eadd1…r1-720-1280v2_hq.jpg);
  background-color: #a5a4a4;
  border: #5a015a 4px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

div section article div .centro {
  width: 100%;
  text-align: center; }

div section article div p .centro {
  width: 100%;
  text-align: center; }

div section article div p .p {
  line-height: 1.8;
  width: justify; }

div section article div p .a {
  text-decoration: none;
  color: #3a0237; }

div section article div p u a .p {
  line-height: 1.8;
  width: justify; }

div section article div p u a .parrafoGrande {
  font-size: 25px; }

div section article div p u a em .italica {
  font-style: italic; }

div section section div .aei {
  display: flex;
  flex-direction: column;
  align-items: center; }

div section section div div h5 .negritaV {
  color: purple; }

div section section div div h5 .banner {
  font-size: 46px; }

.negrita {
  font-weight: 700; }

.wapp {
  background-color: lightblue;
  color: black;
  text-transform: uppercase; }

.nu {
  background-color: pink;
  color: black;
  text-transform: uppercase; }

.lista2 {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

p {
  line-height: 1.8;
  width: justify; }

.barra {
  top: 0%;
  position: sticky;
  z-index: 2; }

h1 {
  text-align: center;
  color: #580354;
  border: rgba(88, 3, 84, 0.295) 12px;
  padding: 13px 45px;
  margin: 5px 5px 5px 5px;
  background-color: rgba(225, 134, 248, 0.548);
  margin-bottom: 5px;
  margin-top: 25px;
  margin-right: 8px;
  margin-left: 8px;
  padding-top: 25px;
  position: sticky;
  z-index: 2;
  width: justify;
  height: 100px;
  font-family: 'Montserrat', sans-serif; }

.nu {
  background-color: none;
  display: inline;
  text-align: center;
  font-size: 22px; }

.negrita {
  font-weight: 700; }

/* galeria */
.grid-container {
  max-width: 850px;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 15px; }

.grid-container img {
  height: 205px; }

.grid-container div {
  width: 350px;
  overflow: hidden; }

.items {
  font-size: 22px; }

.lista {
  border: 2px;
  margin: 2px;
  padding: 0px;
  text-align: center;
  align-items: center; }

.centro {
  width: 100%;
  text-align: center; }

.negrita {
  font-weight: 700; }

.italica {
  font-style: italic; }

.wapp {
  background-color: green;
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5%;
  position: fixed;
  top: 420px;
  left: 1080px; }

.wap {
  display: inline-block;
  height: 45px;
  margin: 15 10 15 10;
  padding: 15 10 15 10;
  color: blueviolet;
  position: relative;
  border: 15 20 15 20;
  text-align: center; }

div .cua {
  display: flex;
  justify-content: center;
  margin: 0 10px;
  align-items: flex-start;
  justify-content: center; }

div .centro {
  width: 100%;
  text-align: center; }

div div .wapp {
  background-color: green;
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5%;
  position: fixed;
  top: 420px;
  left: 1080px; }

.tablap {
  border: #3a0237 2px;
  margin: #3a0237 2px;
  padding: #3a0237 2px;
  text-align: center;
  font-size: center;
  display: inline-block; }

.fix {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px; }

b {
  font-size: 32px;
  width: justify;
  text-align: center;
  border: #3a0237 5px solid;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.5; }

header a:hover {
  color: #e186f8;
  font-weight: bold; }

header .header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  margin: 5px;
  flex-direction: row; }

header .header a:hover, header footer a:hover {
  color: #e186f8;
  font-weight: bold; }

body div .barranav {
  top: 0px;
  position: sticky;
  z-index: 3;
  border: 2px solid;
  border-color: #3a0237;
  background-color: rgba(128, 128, 128, 0.397);
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 28px; }

body div .a {
  text-decoration: none;
  color: #3a0237; }

body div .nos {
  display: flex;
  text-align: center;
  justify-content: center; }

body p {
  line-height: 1.8;
  width: justify; }

.strong .barra {
  top: 0%;
  position: sticky;
  z-index: 2; }

.strong .barranav {
  top: 0px;
  position: sticky;
  z-index: 3;
  border: 2px solid;
  border-color: #3a0237;
  background-color: rgba(128, 128, 128, 0.397);
  font-family: "Tenor Sans", sans-serif;
  font-weight: 1000;
  font-size: 28px; }

.strong .a {
  text-decoration: none;
  color: #3a0237; }

.strong p .nos {
  display: flex;
  text-align: center;
  justify-content: center; }

.strong p .a {
  text-decoration: none;
  color: #3a0237; }

div .fondoDos {
  background-color: rgba(219, 157, 214, 0.623); }

div .negrita {
  font-weight: 700; }

div .italica {
  font-style: italic; }

/* medias querys */
@media (max-width: 410px) {
  .grid-container {
    grid-template-columns: 1fr; }
  .parrafoGrande {
    font-size: 10px; }
  .p {
    font-size: 10px; }
  .div {
    font-size: 10px; }
  .p1 {
    font-size: 9px; }
  .p2 {
    font-size: 11px; } }

@media (max-width: 680px) {
  .header {
    flex-direction: column; }
  .img img {
    width: 150px; }
  .main .h1 .h2 .h3 .li .p .a {
    font-size: 12px; }
  .section .ol {
    font-size: 10px;
    width: 182px; }
  .section .p {
    width: 182px; }
  .grid-container {
    grid-template-columns: 1fr; }
  .ul {
    font-size: 10px; }
  .p {
    font-size: 10px; }
  .div {
    font-size: 12px; }
  .p1 {
    font-size: 11px; }
  .p2 {
    font-size: 16px; }
  .ifra {
    width: 290px; }
  .banner {
    font-size: 46px; } }

@media (max-width: 790px) {
  .p {
    font-size: 11px; }
  .t1 {
    font-size: 18px; }
  .t2 {
    font-size: 17px; }
  .bn {
    font-size: 11px; }
  .grid-container {
    grid-template-columns: 1fr; }
  .img {
    width: 345px; } }

@media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); }
  .banner {
    font-size: 65px; } }
