*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// primero variables
@import './variables/colores';
@import './variables/letras';
@import './variables/extend';



@import './secciones/headerfooter';
@import './secciones/mainIndex';
@import './secciones/contacto';
@import './secciones/ODONTO';
@import './secciones/_PRODUCTOS.SCSS';
@import './secciones/_SERVICIOS.SCSS';
@import './secciones/STAFF';
@import './secciones/index';
@import './secciones/mediasqueris';