//EXTEND
%wapp{
  background-color: green;
  color: whitesmoke;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 5%;
  position: fixed;
  top: 420px;
  left: 1080px;
}
%nuwapp{
  background-color: none;
      display: inline;
      text-align: center;
      font-size: 22px;
}

//MIXIN @mixin fontStyle{( rgb(13,56,185))}
@mixin fontStyle( $colorPrincipal)
{
  background-color: $colorPrincipal;
      color: black;
      text-transform: uppercase;
}