//extend-mixin
.wapp{
    @extend %wapp;
    @include fontStyle (lightblue)
 }
 .nu{
    @extend %nuwapp;
    @include fontStyle (pink)
 }
 

//titulares + wapp
.lista2 {
    display: flex;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    line-height: 1.8;
    width: justify;
}
.barra {
    top: 0%;
    position: sticky;
    z-index: 2;
}
h1 {
    text-align: center;
    color: rgb(88, 3, 84);
    border: rgba(88, 3, 84, 0.295) 12px;
    padding: 13px 45px;
    margin: 5px 5px 5px 5px;
    background-color: rgba(225, 134, 248, 0.548);
    margin-bottom: 5px;
    margin-top: 25px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 25px;
    position: sticky;
    z-index: 2;
    width: justify;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}
.nu {
    background-color: none;
    display: inline;
    text-align: center;
    font-size: 22px;
}
.negrita {
    font-weight: 700;
}
