    /* galeria */
    .grid-container{
        max-width: 850px;
        margin: 0 auto;
        justify-content: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap:15px;
      }
      .grid-container img{
        height: 205px;
    
      }
      .grid-container div{
        width: 350px;
        overflow: hidden;
      }
    //items
    .items {
        font-size: 22px;
    }
    .lista {
        border: 2px;
        margin: 2px;
        padding: 0px;
        text-align: center;
        align-items: center;
    }

    //link
    .centro {
        width: 100%;
        text-align: center;
    }
    
    .negrita {
        font-weight: 700;
    }
    .italica {
        font-style: italic;
    }
    .wapp{
        background-color: green;
        color: whitesmoke;
        display: inline-block;
        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 5%;
        position: fixed;
        top: 420px;
        left: 1080px;
        
    }
    .wap{
        display: inline-block;
        height: 45px;
        margin: 15 10 15 10;
        padding: 15 10 15 10;
        color: blueviolet;
        position:relative;
        border: 15 20 15 20;
        text-align: center;
    
      }
